<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>{{title}}</h1>
    <ul>
        {% for task in tasks_for_jinja %}
            <li>
                {{ task.title }}: <b>{{ task.description }}</b>{% if task.done %}
                    <i>  DONE YES</i>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>