<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>{{title}}</h1>
    <ul>
        {% for order in orders_for_jinja %}
            <li>
                <a href="./orders/{{loop.index-1}}">
                    {{order.name}} on {{order.date[0]}}/{{order.date[1]}}/{{order.date[2]}}: 
                    <b>{{order.quantity}} {{order.item}}{% if order.quantity>1 %}s{% endif %}</b>
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>